<div class="col-lg-12">
        	<div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                <h3 class="col-11">Users</h3>
  
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addUserModal" style="border-radius: 50%;line-height: 0px;"><i class="material-icons">add</i></button>
                </div>
            </div>
            <div class="panel-body">
            <p id="notice"><%= notice %></p>
<table class="table table-condensed " style="border-collapse:collapse;">

    <thead >
        <tr>
            <th>Name</th>
            
            <th>Label</th>
            <th>Active</th>
        </tr>
    </thead>

    <tbody class="table-striped table-hover"> 
          <% for user in @users %>        
          

        
        <tr data-toggle="collapse" style="cursor:pointer;" data-target="#demo<%=user.id%>" class="accordion-toggle">
                  
            <td><%= user.name %></td>
           
            <td><%= user.label %></td>
            <td>
           <% if user.is_active %>
               <p style="color:green;line-height:0px;">Yes</p>
               <% else %>
                                <p style="color:red;">No</p>
            <%end %>
            
            </td>
          

        </tr>
        <tr>
            <td colspan="12"  class="hiddenRow"><div class="accordian-body collapse" style="padding-left:12px;font-size:12px;color:grey;" id="demo<%=user.id%>"> 
               <span> <%= user.email %></span>
               <br>
               <span> <%= user.address %></span>
                    <br>
               <span> <%= user.birthdate %></span>
                    <br>
               <span> <%= user.mobile %></span>

               <div class="row justify-content-end">
               
               <% if user.is_active %>
                 <a href=<%=toggle_activation_path(user)%> class="btn btn-danger" style="font-size:12px;margin-right:12px">Deactivate</a>
               <% else %>
                  <a href=<%=toggle_activation_path(user)%> class="btn btn-success" style="font-size:12px;margin-right:12px">Activate</a>
               <%end %>
               
                
               </div>
             </td>
        </tr>
        
        <% end %>
    </tbody>
    
</table>
            </div>
        
          </div> 
        
      </div>


<div class="modal fade" style="overflow:show;" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <p id="notice"><%= notice %></p>
        <h5 class="modal-title" id="exampleModalLabel">Add a new user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with url: "/users/create", method: :post do  |form| %>
        <div class="form-group">
          <label for="name">Name</label>
          <%= form.text_field :name ,{:class => 'form-control' ,:required => "true"}%>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <%= form.email_field :email ,{:class => 'form-control', :required => "true"}%>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <%= form.password_field :password ,{:class => 'form-control', :required => "true"}%>
        </div>
        <div class="form-group">
          <label for="password_confirmation">Password Confirmation</label>
          <%= form.password_field :password_confirmation ,{:class => 'form-control', :required => "true"}%>
        </div>
        <div class="form-group">
          <label for="role">User Role</label>
          <%= select_tag :label, options_for_select(User.labels.map {|k, v| [k.humanize.capitalize, k.to_sym]}) , {:class => 'form-control',  :required => "true"} %>
        </div>
          <div class="form-group">
          <label for="mobile">Mobile</label>
          <%= form.text_field :mobile ,{:class => 'form-control'}%>
        </div>
         <div class="form-group">
          <label for="address">Address</label>
          <%= form.text_field :address ,{:class => 'form-control'}%>
        </div>
         <div class="form-group">
          <label for="birthdate">BirthDate</label>
          <%= form.date_field :birthdate ,{:class => 'form-control'}%>
        </div>
     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit "Submit", :class => "btn btn-primary" %>
      </div>
         <% end %>
    </div>
  </div>
</div>


