<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, {:class => 'form-control', :required => true} %>
  </div>
  <div class="form-group">
    <%= form.label :mobile %>
    <%= form.text_field :mobile, {:class => 'form-control', :required => true} %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_area :address, {:class => 'form-control'} %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, {:class => 'form-control'} %>
  </div>

  <div class="actions">
    <%= form.submit 'Add Patient', :class => 'mt-2 btn btn-primary' %>
  </div>
<% end %>
