<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Default price:</strong>
  <%= @item.default_price %>
</p>

<p>
  <strong>Available:</strong>
  <%= @item.available %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
