<div class="container-flex">
<h6>From: <strong><%= params[:From] %></strong> To: <strong><%= params[:To] %></strong></h6>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#casesReport" aria-expanded="true" >
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#casesReport" aria-expanded="true" >
                        Cases Report
                    </button>
                </h5>
            </div>
            <div id="casesReport" class="collapse" aria-labelledby="headingOne" >
                <div class="card-body">
                     <table class="table table-condensed" style="border-collapse:collapse;">
                        <thead >
                            <tr>
                                <th>Date</th>
                                <th>Discount</th>
                                <th>Total</th>
                                <th>Items</th>
                                <th>Case Id</th>
                                <th>Patient Name</th>
                                <th>Refferring Doctor</th>
            
                            </tr>
                        </thead>
                        <tbody class="table-striped table-hover">
                            <% @cases_report.each do |ex_case| %>
                                <tr>
                                    <td><%= ex_case.created_at %></td>
                                    <td><%= ex_case.discount ? ex_case.discount.to_s + '%' : 0.0.to_s + '%' %></td>
                                    <td><%= ex_case.discount ? (ex_case.used_items.sum(:charged_price)) : ex_case.used_items.sum(:charged_price) %> EGP</td>
                                    <td>
                                        <%ex_case.used_items.each do |item| %>
                                            <%= item.item.title %> ,
                                        <%end %>
                                    </td>
                                    <td><%= ex_case.id %></td>
                                    <td><%= ex_case.patient.name %></td>
                                    <td><%= ex_case.referring_doctor.present? ? ex_case.referring_doctor.name : "" %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <h5>Total Sum: <%= @cases_sum %> EGP</h5>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#refDoctorReport" aria-expanded="true" aria-controls="collapseOne">
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#refDoctorReport" aria-expanded="true" aria-controls="collapseOne">
                        Refferring Doctors Report
                    </button>
                </h5>
            </div>
            <div id="refDoctorReport" class="collapse" aria-labelledby="headingOne" >
                <div class="card-body">
                    <table class="table table-condensed" style="border-collapse:collapse;">
                        <thead >
                            <tr>
                                <th>Doctor Name</th>
                                <%@doctors_report.first[:items].each do |item|  %>
                                    <th><%= item[0] %></th>
                                <%end %>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped table-hover">
                             <%@doctors_report.each do |doctor|  %>
                                <tr>
                                    <td><%= doctor[:name] %></td>
                                    <%doctor[:items].each do |item| %>
                                        <td><%= item[1] %></td>
                                    <%end %>
                                    <td><%= doctor[:sum][0].present? ? doctor[:sum][0][0] : 0%> EGP</td>
                                </tr>
                             <%end %>
                             <tr>
                                <td><h5>Totals</h5></td>
                                <%@doctors_totals.each do |item| %>
                                    <td><h5><%= item[1].present? ? item[1] : 0 %></h5></td>
                                <%end %>
                                <td><h5><%= @doctors_sum[0].present? ? @doctors_sum[0][0] : 0 %> EGP</h5></td>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#techReport" aria-expanded="true" aria-controls="collapseOne">
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#techReport" aria-expanded="true" aria-controls="collapseOne">
                        Technitions Report
                    </button>
                </h5>
            </div>
            <div id="techReport" class="collapse" aria-labelledby="headingOne" >
                <div class="card-body">
                    <table class="table table-condensed" style="border-collapse:collapse;">
                        <thead >
                            <tr>
                                <th>Technition Name</th>
                                <%@technitions_report.first[:items].each do |item|  %>
                                    <th><%= item[0] %></th>
                                  
                                <%end %>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped table-hover">
                             <%@technitions_report.each do |tech|  %>
                                <tr>
                                    <td><%= tech[:name] %></td>
                                    <%tech[:items].each do |item| %>
                                        <td class="text-center">
                                        <div class="row"><%= item[1] %> </div>
                                        <div class="row">  <%= item[2].to_s + " EGP" %></div>
                                        </td>
                                    <%end %>
                                    <td><%= tech[:sum].present? ? tech[:sum][0][0] : 0 %> EGP</td>
                                </tr>
                             <%end %>
                             <tr>
                                <td><h5>Totals</h5></td>
                                <%@items_total.each do |item| %>
                                    <td><h5><%= item[1].present? ? item[1] : 0 %></h5></td>
                                <%end %>
                                <td><h5><%= @tech_totals[0].present? ? @tech_totals[0][0] : 0 %> EGP</h5></td>
                             </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>